<section class="tournaments">
  <div class="tournaments-bg"></div>
  <div class="tournaments-list-wrapper">
    <p>Najbliższe wydarzenia: (<a href="https://go.art.pl/polski-kalendarz-turniejowy-2024" title="Polski kalendarz turniejowy">kalendarz</a>)</p>
    <ul class="tournaments-list">
      <li class="tournaments-entry"><a href="https://roundsboard.com/tournaments/ii-turniej-go-w-jastrowiu-memorial-felixa-dueballa/"><strong>28 &ndash; 29 września 2024</strong> &mdash; II Turniej Go w Jastrowiu &ndash; Memoriał Felixa Dueballa</a></li>
      <li class="tournaments-entry"><a href="https://roundsboard.com/tournaments/4th-china-town-weiqi-cup"><strong>12 &ndash; 13 października 2024</strong> &mdash; 4th "China Town" Weiqi Cup &ndash; Warszawa</a></li>
      <li class="tournaments-entry"><a href="https://roundsboard.com/tournaments/ppik-grand-prix-niemcz-2024"><strong>14 &ndash; 15 grudnia 2024</strong> &mdash; Grand Prix &ndash; Niemcz</a></li>
    </ul>
  </div>
</section>
