<section class="tournaments">
  <div class="tournaments-bg"></div>
  <div class="tournaments-list-wrapper">
    <p>Najbliższe wydarzenia: (<a href="https://go.art.pl/polski-kalendarz-turniejowy-2024" title="Polski kalendarz turniejowy">kalendarz</a>)</p>
    <ul class="tournaments-list">
      <li class="tournaments-entry"><a href="https://szczecin.go.art.pl/2023/porfirion-cup-2024/"><strong>7 &ndash; 9 czerwca 2024</strong> &mdash; Porfirion Cup 2024 &ndash; Wisełka</a></li>
      <li class="tournaments-entry"><a href="https://krakow.go.art.pl/turnieje/smoczy-kamien-2024/"><strong>15 &ndash; 16 czerwca 2024</strong> &mdash; Turniej Smoczy Kamień &ndash; Kraków</a></li>
      <li class="tournaments-entry"><a href="https://roundsboard.com/tournaments/xliv-warszawski-turniej-go"><strong>22 &ndash; 23 czerwca 2024</strong> &mdash; XLIV Warszawski Turniej Go</a></li>
      <li class="tournaments-entry"><a href="https://lsg.go.art.pl"><strong>13 &ndash; 28 lipca 2024</strong> &mdash; Letnia Szkoła Go</a></li>
    </ul>
  </div>
</section>
