<section class="tournaments">
  <div class="tournaments-bg"></div>
  <div class="tournaments-list-wrapper">
    <p>Najbliższe turnieje Go: (<a href="http://go.art.pl/polski-kalendarz-turniejowy-2019" title="Polski kalendarz turnejowy">kalendarz</a>)</p>
    <ul class="tournaments-list">
      <li class="tournaments-entry"><a href="http://poznan.go.art.pl/turnieje/21" title="Turniej Wiosenny w Poznaniu"><strong>30-31 marca</strong> - Poznań (również dla początkujących)</a></li>
      <li class="tournaments-entry"><a href="http://bydgoszcz.go.art.pl/turnieje/najbliszy-turniej" title="Turniej Wiosenny w Poznaniu"><strong>6 kwietnia</strong> - Bydgoszcz (również dla początkujących)</a></li>
    </ul>
  </div>
</section>
