<script src="{{ site.baseurl }}/js/wgo/wgo.js"></script>
<script src="{{ site.baseurl }}/js/wgo/kifu.js"></script>
<script src="{{ site.baseurl }}/js/wgo/sgfparser.js"></script>
<script src="{{ site.baseurl }}/js/wgo/player.js"></script>
<script src="{{ site.baseurl }}/js/wgo/basicplayer.js"></script>
<script src="{{ site.baseurl }}/js/wgo/basicplayer.component.js"></script>
<script src="{{ site.baseurl }}/js/wgo/basicplayer.infobox.js"></script>
<script src="{{ site.baseurl }}/js/wgo/basicplayer.commentbox.js"></script>
<script src="{{ site.baseurl }}/js/wgo/basicplayer.control.js"></script>
<script src="{{ site.baseurl }}/js/wgo/player.editable.js"></script>
<script src="{{ site.baseurl }}/js/wgo/scoremode.js"></script>
<script src="{{ site.baseurl }}/js/wgo/player.permalink.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/wgo/wgo.player.css" />