$min_page_size: 1100px;
$min_side_size: 300px;
$min_content_size: $min_page_size - $min_side_size;


// GENERAL
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  width: 100%;
  background: #f1f1f1;
}

a {
  color: #6c9922;
  padding: 5px;
}

a:hover {
  color: #fff;
  background-color: #6c9922;
  padding: 5px;
}

.wrapper {
  margin: 20px auto;
  min-width: $min_page_size;
  width: 60%;
}

// HEADER
header {

  h1, h2 {
    font-size: 1.7em;
    color: #828282;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #828282;
  }

  h1 {
    float: left;
    width: $min_side_size / $min_page_size * 100%;
    min-width: $min_side_size;
  }

  h2 {
    float: right;
    width: $min_content_size / $min_page_size * 100%;
    min-width: $min_content_size;
  }
}

// SIDE MENU
aside {
  clear: both;
  float: left;
  width: $min_side_size / $min_page_size * 100%;
  min-width: $min_side_size;

  nav {
    padding: 20px;
    background: #f1f1f1;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin: 10px 0 10px 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  }

  a {
    display: block;
    padding: 5px;
  }

  a.active {
    font-weight: bold
  }

  p {
    margin: 0 0 5px 31px;
  }

  ol {
    list-style-type: decimal-leading-zero;

    li {
      margin: 5px 0 0 30px;
    }

  }
}


// MAIN CONTENT
article {
  float: right;
  width: $min_content_size / $min_page_size * 100%;
  min-width: $min_content_size;
}

section {
  padding: 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin: 10px 20px;
  line-height: 1.5em;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

  h3 {
    color: #222;
    font-size: 1.2em;
  }

  ul {
    margin-top: -5px;
    list-style: disc;

    li {
      margin-left: 20px;
    }
  }

  p {
    margin: 10px 0;
  }
}

section.problem,
section.diagram {
  position: relative;

  .board {
    margin: 10px 10px 10px 0;
    width: 40%;
    float: left;
  }

  .status {
    font-weight: bold;
    float: right;
    width: 55%;
    position: absolute;
    bottom: 40px;
    right: 10px;
  }

  .success, .fail {
    cursor: pointer;
  }

  .success {
    color: #6c9922;
  }

  .fail {
    color: #900;
  }

  p {
    float: right;
    width: 55%;
  }
}

section.navigation {
  position: relative;

  .prev_lesson {
    float: left;
  }

  .next_lesson {
    float: right;
  }

  .prev_lesson a:before {
    content: '\00ab';
    padding-right: 3px;
  }

  .next_lesson a:after {
    content: '\00bb';
    padding-left: 3px;
  }

  select {
    width: 300px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -150px;
    padding: 10px;
    border: none;
    background: #eee;
  }
}