$min_page_size: 1000px;
$min_side_size: 300px;
$min_content_size: $min_page_size - $min_side_size;


// GENERAL
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  width: 100%;
  background: #f1f1f1;
  overflow-y: scroll;
}

a {
  color: #6c9922;
  padding: 5px;
}

a:hover {
  color: #fff;
  background-color: #6c9922;
}

.wrapper {
  margin: 20px auto;
  min-width: 400px;
  max-width: 1200px;
  width: 90%;
}

// HEADER
header {
  h1 {
    font-size: 1.2em;
    color: #828282;
    text-align: center;
    text-transform: uppercase;
  }
}

// SIDE MENU
aside {
  clear: both;
  float: left;
  width: $min_side_size / $min_page_size * 100%;

  nav {
    padding: 20px;
    background: #f1f1f1;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin: 10px 0 10px 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  }

  a {
    display: block;
    padding: 5px;
  }

  a.active {
    font-weight: bold
  }

  p {
    margin: 0 0 5px 31px;
  }

  ol {
    list-style-type: decimal-leading-zero;

    li {
      margin: 5px 0 0 30px;
    }

  }
}


// MAIN CONTENT
article {
  float: right;
  width: $min_content_size / $min_page_size * 100%;
}

section {
  padding: 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin: 10px;
  line-height: 1.5em;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

  h3 {
    color: #222;
    font-size: 1.2em;
  }

  ul {
    margin-top: -5px;
    list-style: disc;

    li {
      margin-left: 20px;
    }
  }

  p {
    margin: 10px 0;
  }
}

.title {
  h2 {
    font-size: 1.5em;
    text-align: center;
  }
}

.problem,
.diagram {
  position: relative;

  .board {
    margin: 10px 10px 10px 0;
    width: 45%;
    float: left;
  }

  .status {
    font-weight: bold;
    float: right;
    width: 50%;
  }

  .success, .fail {
    cursor: pointer;
  }

  .success {
    color: #6c9922;
  }

  .fail {
    color: #900;
  }

  p {
    float: right;
    width: 50%;
  }
}

.top-navigation,
.bottom-navigation {
  p {
    margin: 0;
  }

  .prev_lesson {
    float: left;
  }

  .next_lesson {
    float: right;
  }

  .prev_lesson a:before {
    content: '\00ab';
  }

  .next_lesson a:after {
    content: '\00bb';
  }

  select {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: none;
    background: #eee;
    cursor: pointer;

    option {
      text-align: center;
      padding: 10px 5px;
      cursor: pointer;
    }

    option[selected] {
      font-weight: bold;
      color: #6c9922;
    }
  }
}

.top-navigation {
  display: none;
  select {
    font-size: 20px;
  }
}

@include media-query(1000px) {
    .wrapper {
      min-width: 360px;
      max-width: 900px;
      width: 95%;
    }

    article {
      width: 100%;
      float: none;
    }

    aside {
      display: none;
    }

    .title {
      display: none;
    }

    .top-navigation {
      display: block;
    }
}

@include media-query(600px) {
  .problem {
    p {
      float: none;
      width: 100%
    }

    .board {
      float: none;
      width: 80%;
      margin: 10px auto;
    }

    .status {
      width: 100%;
      text-align: center;
    }
  }
}

@include media-query(500px) {
  .diagram,
  .problem {
    .board {
      float: none;
      width: 100%;
    }

    p {
      float: none;
      width: 100%
    }
  }
}