<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">

    <header>
        <h1><a href="{{ "/" | prepend: site.baseurl }}">Interaktywny Kurs Go</a></h1>
    </header>

    <aside>
        <nav>
            <p><a href="{{ "/" | prepend: site.baseurl }}">Wprowadzenie</a></p>
            <ol>
                {% for lesson in site.lessons %}
                    {% if lesson.title %}
                    <li><a href="{{ lesson.url | prepend: site.baseurl }}">{{ lesson.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </aside>

    <article id="content">
        {{ content }}
    </article>

    </div>
  </body>
</html>
