<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">

    <header>
        <h1>Interaktywny Kurs Go</h1>
    </header>

    {% include side.html %}

    <article id="content">
        {% if page.title %}
        <section class="title">
            <h2>{{ page.title }}</h2>
        </section>
        {% endif %}

        <section class="top-navigation">
            <select class="lesson-selector">
                <option value="/">Wprowadzenie</option>
                {% assign i = 1 %}
                {% for lesson in site.lessons %}
                <option value="{{ lesson.url | replace: "index.html", "" }}"{% if lesson.title == page.title %} selected{% endif %}>{{ i }}. {{ lesson.title }}</option>
                {% assign i = i | plus: 1 %}
                {% endfor %}
            </select>
        </section>

        {{ content }}

        {% if page.prev_lesson or page.next_lesson %}
        <section class="bottom-navigation">
            <p class="prev_lesson">
                {% if page.prev_lesson %}
                    {% lesson_button page.prev_lesson Wstecz %}
                {% else %}
                    <a href="/" class="button">Wprowadzenie</a>
                {% endif %}
            </p>

            {% if page.next_lesson %}
            <p class="next_lesson">
                {% lesson_button page.next_lesson Dalej %}
            </p>
            {% endif %}
        </section>
        {% endif %}
    </article>

    </div>
  </body>
</html>
